*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target

.classpath
.project
.settings/

# exclude the full CSV files, only upload the zipped versions
routing_reference_data/country.csv
routing_reference_data/countrypc.csv
routing_reference_data/ESDv6.csv
